.single-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #706d6d;;
}

.link-button {
  padding: 0.5rem 1.5rem;
  /* margin-left: 1.5rem; */
  cursor: pointer;
  font: inherit;
  color: white;
  /* background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px; */
}

.link-button:hover {
  color: #aa65d8;
}
