.new-trip-section {
  height: 100%;
}

.new-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.button-switch-display-users {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #aa65d8;
  border: 1px solid #aa65d8;
  border-radius: 4px;
}

.button-switch-display-users:hover {
  background-color: #9418e7;
  border: 1px solid #9418e7;
}
