@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Public Sans";
}

body {
  /* font-family: "Nunito Sans"; */
  font-family: "Public Sans";
  /* font-family: 'Open Sans', 'Lato', sans-serif; */
  margin: 0;
  /* background-color: #e7f8f8; */
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Public Sans";
  /* font-family: "Lato", sans-serif; */
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.root-element-overflow {
  overflow: auto;
}

.nav-link.active {
  /* color: #aa65d8 !important; */
  color: #0275d8 !important;
}

.leaflet-routing-container {
  border-radius: 8px;
}

.leaflet-routing-geocoders {
  border: none;
}

.leaflet-routing-geocoder {
  border-radius: 8px !important;
}

.leaflet-routing-add-waypoint  {
  margin-top: 0.25rem !important;
}

.leaflet-routing-alternatives-container {
  display: none !important;
}

.leaflet-routing-alternatives-container table {
  display: none !important;
}

/* .navigation-bar-bootstrap {
  background-color: #e8ded1 !important; 
} */

.nav-item button {
  color: black !important;
}