.trip-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.type {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

.preferences {
    font-style: italic;
    color: white;
}

.destinations {
    display: flex;
    color: white
}

.arrow {
    margin: 0 0.5rem;
}